
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      error: mat.$red-palette,
    ),
    typography: (
      plain-family: Roboto,
      // brand-family: Open Sans,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */

 table {
  width: 100%;
}


td.mat-mdc-cell {
  // padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--mat-sys-surface-dim);
}

tr.mat-mdc-row:hover {
  background: var(--mat-sys-surface-container-low)
}

/* Custom styles for buttons */
button.btn-custom { // only use with buttons mat-icon-button
  border-radius: var(--mat-fab-small-container-shape, var(--mat-sys-corner-medium));
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-primary);

  .mat-mdc-button-persistent-ripple{
    border-radius: var(--mat-fab-small-container-shape, var(--mat-sys-corner-medium));
  }
}


