.page-header {
  padding: 0.1rem 2rem;

  h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1.6rem;
  }
}

.page-content {
  padding: 1.5rem 2rem 2rem;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.table-card {
  padding: 0;
}

.table-wrapper {
  // overflow-x: auto;
  max-height: 400px;
  overflow: auto;
  // border-radius: 6px;
}
