<mat-drawer-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-drawer #sidenav mode="side" [opened]="sidebarOpen()" class="sidenav">
    <mat-toolbar class="sidebar-header" >
      <!-- Logo -->
      <div class="logo-container">
        <!-- <img src="/Logotipo-Finaexus.webp" alt="App Logo" class="app-logo"> -->
      </div>
    </mat-toolbar>

    <app-sidenav />
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content>
    <mat-toolbar class="topbar">
      <button mat-icon-button class="btn-custom" (click)="toggleSidebar()">
        <mat-icon>{{ sidebarOpen() ? 'chevron_left' : 'menu' }}</mat-icon>
      </button>
      <span class="app-title">
        <mat-icon>{{ topInfo().icon }}</mat-icon>
        {{ topInfo().title }}
      </span>
      <span class="spacer"></span>

      <app-notifications></app-notifications>
      <app-user-menu></app-user-menu>
    </mat-toolbar>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
