.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 240px;
  background: var(--mat-sys-on-secondary);
  border-right: 1px solid #e0e0e0;
  border-radius: 0;
}

.sidebar-header {
  // font-weight: bold;
  color: #fff;
  background-color: var(--mat-sys-on-secondary);
  // background-color: var(--mat-sys-primary-container);

  .app-logo {
    max-width: 120px;
  }

}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mat-sys-primary-container);

  mat-icon{
    color: var(--mat-sys-primary);
  }
}

.app-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 500;
  color: var(--mat-sys-primary);
  padding: 0 16px;

  mat-icon {
    font-size: 24px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  background: var(--mat-sys-surface);
  min-height: calc(100vh - 104px);
}
