.btn-user-menu {
  color: var(--mat-sys-primary);
}
::ng-deep .user-menu {

  &.mat-mdc-menu-panel {
    width: 200px !important;
    max-height: 400px;
    overflow: auto;
    background-color: var(--mat-sys-background);
    border-radius: var(--mat-fab-small-container-shape, var(--mat-sys-corner-medium));
  }

  .mdc-list-item.mdc-list-item--with-one-line {
    height: var(--mat-list-list-item-one-line-container-height, 75px);
  }
}

.user-info {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;

  .user-name {
    color: var(--mat-sys-on-background);
    font-size: 14px;
    font-weight: 500;
  }

  span {
    font-size: 12px;
    color: #777;
  }
}

.logout-btn {
  color: #d32f2f;

  mat-icon {
    color: #d32f2f;
  }
}
