.register-container {
  // width: 425px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  // form {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 16px;
  // }

  .full-width {
    width: 100%;
  }

  .google-btn {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider {
    text-align: center;
    margin: 1rem 0;
    position: relative;

    span {
      background: #fff;
      padding: 0 1rem;
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border-top: 1px solid #ddd;
      transform: translateY(-50%);
    }
  }
}
